.body-part {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.body-part__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid teal;
    margin: 5px 0px;
}

.body-part__input-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}


.body-part__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid teal;
    font-size: 25px;
    font-family: 'Inter';
}

.body-part__header-item {
    margin: 0;

}

.body-part__field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Inter';
    font-size: 18px;
    background-color: antiquewhite;
}

.body-part__name {
    width: 90%;
}

.body-part__price {
    width: 65%;
}

.body-part__price_off {
    visibility: hidden;
}

.body-part__count {
    width: 24%;
}

.body-part__total-price {
    width: 85%;
    resize: none;
}

.body-part__actions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.body-part_btn {
    border: 1px solid teal;
}