.main-table {
    width: 90vw;
    border: 1px solid teal
}

.maintable__header {
    display: flex;
    border: 1px solid teal;
    flex-direction: row;
    justify-content: space-between;
    font-family: Inter;
    font-size: 30px;
}

.maintable__header-item {}

.main-table__ammount {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.ammount-title {
    margin: 0;
    font-family: 'Inter';
    font-size: 30px;

}

.ammount-value {
    margin: 0;
    font-family: 'Inter';
    font-size: 23px;
    font-weight: 800;
    border: none;
    text-align: right;
    height: 54px;

}